body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.thumbnails img {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 8px;
}

.thumbnails img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#fullImageContainer {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#fullImageContainer img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    animation: zoomIn 0.4s ease;
}


@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


.animate {
    animation: zoomIn 0.4s ease;
}
